.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 15%;
  }
  
  .login-container {
    width: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .login-logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 180px;
  
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  