<div class="loader-overlay" *ngIf="showLoader">
    <div class="loader-content">
      <div class="loader-title">
        <span>{{message}}</span>
      </div>
      <div class="loader-message">
        <span>Please wait... </span>
      </div>
  
      <div class="loader-spinner">
        <div class="spinner-circular"></div>
        <!-- <div class="splash">
          <div class="spinner">
            <div class="rect1">
  
            </div>
            <div class="rect2">
  
            </div>
            <div class="rect3">
  
            </div>
            <div class="rect4">
  
            </div>
            <div class="rect5">
  
            </div>
          </div>
        </div> -->
      </div>
  
  
      <div class="loader-footer">
        <h5>MyCockpitView<sup>&reg;</sup></h5>
        <small>Powered by Newarch<sup>&reg;</sup> Infotech LLP</small>
      </div>
    </div>
  </div>