$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0070b7 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$red-50: rgba(244, 67, 54, 0.2) !default;

// brands
$demo: #0070b7;
$sbsipl: #3d3f96;
$vda: #d9c155;
$insteel: #a5251c;
$teearch: #dc3545;
$jpinfra: #205484;
$novatech: #402773;
$dbind: #2f9ed5;

$primary: $demo;
// $primary:$insteel;
// $primary:$teearch;
// $primary:$vda;
// $primary:$sbsipl;
// $primary:$jpinfra;
// $primary:$novatech;
// $primary:$dbind;

$secondary: $gray-700;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $gray-900;
$light: $gray-100;
$dark: $gray-800;

$grid-gutter-width: 5px;

// $font-size-base: 0.85rem !default;
$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

  $font-size-base:              0.85rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            600;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      0;
$headings-font-family:        $font-family-sans-serif;
$headings-font-weight:        400;
$headings-line-height:        1.2;
$headings-color:              inherit;

$small-font-size:             80% !default;
$text-muted:                  $gray-600 !default;

$paragraph-margin-bottom:   5px;

$link-hover-color: $gray-900;
$link-hover-decoration: none;

$list-width: 22%;
$detail-width: calc(100% - 22%);
$border-radius: 6px;
$box-shadow: 0 3px 1px -2px rgba(22, 18, 18, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$box-shadow-inverse: 0 -3px 1px -2px rgba(0, 0, 0, 0.2),
  0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -1px 5px 0 rgba(0, 0, 0, 0.12);

$page-background: $gray-100;
$title-bar-background: $primary;
$title-bar-color: $white;
$activity-background: $gray-300;
$agile-background: $gray-200;
$footer-background: $white;

// scrollbar-custom
$scroll-bg:transparent !default;
$scroll-color:$gray-400 !default;

//spinner-loader
$spinner-color-1: $secondary;
$spinner-color-2: $primary;
$spinner-color-3: $primary;

//meeting
$meeting_type_0: $purple;
$meeting_type_1: $orange;
$user-thumbnail-width:45px !default;