<nav class="navbar navbar-footer">
    <ng-content select=".nav-footer-actions"></ng-content>
    <div>
      <span class="float-right">beta.{{version}}</span>
    </div>
  </nav>
  <nav class="navbar navbar-footer-mobile">
    <ng-content select=".nav-footer-mobile-actions"></ng-content>
  </nav>
  <nav id="filters">
    <ng-content select=".nav-filters"></ng-content>
  </nav>