<nav class="navbar navbar-header">
  <div class="nav-item nav-icon nav-item-gray" (click)="menutoggel()">
    <mat-icon>apps</mat-icon>
  </div>

  <div class="navbar-page-title nav-item">
    <h4 class="font-bold">

      <small class="text-muted"></small>
    </h4>
  </div>

  <ng-content select=".nav-header-actions"></ng-content>

  <div class="nav-item d-flex justify-content-end flex-grow-1 flex-shrink-1">
    <div class="nav-item hover-link nav-item-gray flex-grow-0 flex-shrink-0">
      <div class="nav-item nav-icon" [matMenuTriggerFor]="analysisMenu" matTooltip="Analysis">
        <mat-icon>assessment</mat-icon>
      </div>
      <mat-menu #analysisMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="openRoute('/time-analysis')" aria-label="Time Analysis"
          *ngIf="IsPermissionTimeAnalysisView">
          Time Analysis
        </button>
        <button mat-menu-item (click)="openRoute('/task-analysis')" aria-label="Task Analysis"
          *ngIf="IsPermissionTaskAnalysisView">
          Task Analysis
        </button>
        <button mat-menu-item (click)="openRoute('/time-line')" aria-label="Timeline"
          *ngIf="!isMobileView && IsPermissionOfficeTimelineView">
          Timeline
        </button>
      </mat-menu>
    </div>

    <div class="nav-item hover-link nav-item-gray flex-grow-0 flex-shrink-0">
      <div class="nav-item nav-icon" [matMenuTriggerFor]="createMenu" matTooltip="New">
        <mat-icon>add</mat-icon>
      </div>
      <mat-menu #createMenu="matMenu" xPosition="before">
        <button mat-menu-item aria-label="New Expense" (click)="newExpense()">
          Expense
        </button>
      </mat-menu>
    </div>

    <div class="nav-item hover-link nav-icon" (click)="openRoute('/')" matTooltip="MyCockpit">
      <mat-icon>dashboard</mat-icon>
    </div>

    <div class="nav-item hover-link nav-item-gray flex-grow-0 flex-shrink-0">
      <div class="nav-item d-flex align-items-center" [matMenuTriggerFor]="userAccount" [matTooltip]="user.firstName">
        <img src="assets/images/user.png" class="img-fluid flex-grow-0 flex-shrink-0 nav-item" alt="" />
        <div class="nav-desktop-text">
          <h6 class="mb-0">{{ user.firstName }}</h6>
          <span class="text-muted">{{ user.userName }}</span>
        </div>
      </div>
      <mat-menu #userAccount="matMenu" xPosition="before">
        <button mat-menu-item (click)="openPassword(user.id)">
          <mat-icon>vpn_key</mat-icon>
          <span>Change Password</span>
        </button>
        <!-- <button mat-menu-item (click)="refreshtoken()" *ngIf="IsPermissionMaster">
            <mat-icon>vpn_key</mat-icon>
            <span>Refresh Token</span>
          </button> -->
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>

<div class="sidebar-overlay" [style.display]="isExpanded ? 'block' : 'none'"></div>
<nav id="sidebar" [class.active]="isExpanded">
  <ul class="menu-list">
    <ng-container *ngFor="let menu of access.data">
      <li *ngIf="menu.get">
        <a [routerLinkActive]="['active']" [routerLink]="[menu.menu.menuUrl]" (click)="menutoggel()">
          <h5>{{ menu.menu.menuName }}</h5>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>

<router-outlet></router-outlet>
<alert></alert>
